
body{
    background-color:#414141;
    color:#fff;
    background-image: url('/src/img/js-logo.png');
    background-size: cover;
}

h1{
    color:#fff;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

img{
    width: 150px;
}